/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

/* VARIABLES */
:root {
    /* Colors */
    --cta-text: hsl(356, 100%, 66%);
    --cta-bg: hsl(355, 100%, 74%);
    --titles-color: hsl(208, 49%, 24%);
    --white: hsl(0, 0%, 100%);
    --footer-text: hsl(240, 2%, 79%);
    --body-copy: hsl(207, 13%, 34%);
    --button-transparent: hsla(0, 0%, 100%, 0.15);
    --footer-bg: hsl(240, 10%, 16%);
    --cta-gradient: linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    --body-gradient: linear-gradient(35deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));

    /* Tipography */
    --ubuntu:'Ubuntu', sans-serif;
    --overpass: 'Overpass', sans-serif; 
    /* Font sizes */
    --normal-text-size: 16px;
    --text-very-small: .5em;
    --text-small: .75em;
    --text-medium: .875em;
    --text-normal: 1em;
    --text-semi-big: 1.5em;
    --text-big: 1.75em;

    /* Font Weights */
    --f-bold: 700;
    --f-semi-bold: 600;
    --f-light: 300;
    /* Margins */
    --m-0-25: .25em;
    --m-0-50: .5em;
    --m-0-75: .75em;
    --m-1: 1em;
    --m-1-5: 1.5em;
    --m-2: 2em;
    --m-2-5: 2.5em;
    --m-3: 3em;
}

/* Body */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--normal-text-size);
    font-family: var(--overpass);
    margin: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Reusable css */

.button {
    border-radius: 1.5em;
    padding: 0 1.25em;
    height: 3.125em;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: var(--text-medium);
    cursor: pointer;
    transition: 0.3s;
    margin: var(--m-0-25) var(--m-0-50);
    color: var(--cta-text);
    background: var(--white);
}

.button--outlined {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}

.button--outlined:hover {
    color: var(--cta-text);
    background: var(--white);
}

.button--transparent {
    background: hsla(0, 0%, 90%, 0.300);
    display: block;
    color: var(--titles-color);    
}

.button--gradient {
    background: var(--cta-gradient);
    display: block;
    color: var(--white);
}

.main__section {
    margin: var(--m-2) 0;
    padding: 1em;
}

/* Css */

/* Header */

.header {
    background: url(../images/bg-pattern-intro.svg), var(--cta-gradient);
    background-position: center;
    padding: 1em 1.25em;
    height: 30em;
    text-align: center;
    position: relative;
    border-bottom-left-radius: 7.5em;
}

.header__navigation {
    margin: var(--m-1-5) 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-img {
    width: 80%;
}

.header__text {
    margin: var(--m-2) 0;
}

.header__title {
    color: #fff;
    margin: var(--m-0-50) 0;
}

.header__subtitle {
    color: #fff;
    font-weight: var(--f-light);
}

.header__hamburger {
    background: url('../images/icon-hamburger.svg')no-repeat;
    height: 1.125em;
    width: 1.75em;
}

.header__hamburger.open {
    background: url('../images/icon-close.svg')no-repeat;
    height: 1.625em;
    width: 1.625em;
}

.nav {
    display: none;
    position: absolute;
    top: 7.5em;
    width: 90%;
    background: var(--white);
    padding: 1.5em 1em;
    text-align: center;
    border-radius: 1em;
}

.nav.show {
    display: block;
}

.nav__title {
    color: var(--titles-color);
    font-weight: var(--f-bold);
    font-size: var(--text-normal);
    margin: var(--m-0-75) 0;
    display: inline-block;
}

.nav__icon {
    background: url('../images/icon-arrow-dark.svg')no-repeat;
    display: inline-block;
    margin: 0 var(--m-0-25);
    width: 0.625em;
    height: 0.437em;
    transition: 0.2s ease-in-out;
}

.nav__icon.reverse {
    transform: rotate(180deg);
}

.nav__sublist {
    padding: 1em 0;
    background: hsla(0, 0%, 98%, 0.9);
    margin: var(--m-0-75) 0;
    display: none;
}

.nav__sublist.show {
    display: block;
}

.nav__sublist-item {
    font-weight: var(--f-light);
    color: var(--body-copy);
    margin: var(--m-0-50) 0;
}

.nav__buttons {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main */

.main__title {
    font-size: var(--text-big);
    text-align: center;
    color: var(--titles-color);
}

.article {
    text-align: center;
    margin: var(--m-2) 0;
    padding: 0 1em;
}

.article__title {
    color: var(--titles-color);
    font-size: var(--text-big);
}

.article__text {
    color: var(--body-copy);
    font-family: var(--ubuntu);
    font-size: var(--text-normal);
    line-height: 1.875em;
    font-weight: var(--f-light);
    margin: var(--m-1) 0 0 0;
}

.article--white {
    color: var(--white);
}

.main__illustration {
    margin: var(--m-2) 0;
}

.main__phones {
    position: relative;
    background: url(../images/bg-pattern-circles.svg)no-repeat, var(--body-gradient);
    background-position:right top;
    background-size: contain;
    height: 31.25em;
    padding: 0 0 3em 0;
    margin: 13.75em 0 2em 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom-left-radius: 5em;
    border-top-right-radius: 5em;
}

.main__svg {
    position: absolute;
    top: -12.5em;
}

.footer {
    height: 100%;
    background: var(--footer-bg);
    text-align: center;
    padding: 2.5em 0;
    color: var(--footer-text);
    border-top-right-radius: 5em;
}

.footer__logo {
    margin: var(--m-2) 0;
}

.footer__list--title {
    font-weight: var(--f-semi-bold);
    font-size: var(--text-normal);
    color: var(--white);
    margin: var(--m-1-5) 0;
}

.footer__list--item {
    margin: var(--m-0-50) 0;
    font-size: var(--text-medium);
}